.social-login
    button.social-login--github
        span
            i.fab.fa-github
        | Continue with Github
        // |를 붙이 지 않으면 Continue를 span같은 태그로 인식함, |은 텍스트로 만듦
    button.social-login--facebook
        span
            i.fab.fa-facebook
        | Continue with Facebook